.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.leaflet-container {
  width: 100%;
  flex-grow: 1;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.chartGroup {
  border: 1px solid lightgray;
  margin-top: 2em;
  display: grid;
}
